.section {
  width: 1920px;
  height: 990px;
  margin: -60px auto 0;
  padding-top: 130px;
}
.wrapper {
  padding-right: 101px;
  padding-left: 210px;
  width: 1720px;
  height: 725px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.contentLeft { 
  padding-top: 74px; 
}
.heading {
  color: rgb(36, 40, 81);
  font-size: 89px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: left;
  width: 630px;
}
.text {
  margin-top: 30px;
  color: rgb(112, 114, 131);
  font-family: Quicksand, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  width: 630px;
}
.groupBtn {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  /* margin-bottom: 73px; */
}
.btn1 {
  width: 188px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 10px 25px 0px rgba(255, 124, 84, 0.3);
  background: linear-gradient(180.00deg, rgb(255, 169, 146),rgb(255, 120, 82) 65%);
}
.btn2 {
  width: 246px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 10px 25px 0px rgba(125, 181, 35, 0.3);
  background: linear-gradient(180.00deg, rgb(195, 228, 143),rgb(142, 198, 55) 65%);
}

/* ------------- */


/* components/BlurredImage.module.css */
.contentRight {
  position: relative; /* Для позиционирования внутри блока */
  width: 712px;
  height: 712px;
  top: 0;

}

.blurredBackground {
  position: absolute; /* Фон находится в абсолютной позиции */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 205, 184); /* Цвет фона */
  filter: blur(200px); /* Применение размытия */
}

.foregroundImage {
  position: relative; /* Изображение на переднем плане */
  z-index: 1; /* Устанавливает изображение поверх размытости */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Оптимизирует вид изображения */
  left: 42px;
  }
.element1 {
  position: absolute;
  content: '';
  bottom: 200px;
  right: -130px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0,0,0.1));
}

.element2 {
  position: absolute;
  content: '';
  top:-50px;
  right: -130px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0,0,0.1));
}
.element3 {
  position: absolute;
  content: '';
  top:350px;
  left: 20px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0,0,0.1));
}
.element4 {
  position: absolute;
  content: '';
  top:0px;
  left: -900px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0,0,0.1));
}
